@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* Hero */

.hero {
    background-image: url(images/Paella\ Banner\ FULLHD.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(6, 1fr);
    justify-items: center;
    align-items: center;
}

.title {
    grid-area: 7 / 2 / span 3 / span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-family: 'EB Garamond', serif;
    margin: 0;
}

.title p {
    margin: 0;
}

.hero img {
    max-height: 100%;
    width: auto;
    grid-area: 1 / 3 / span 6 / span 2;
    margin-top: 30px;
}

/* Contacto */

.contacto {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-column-gap: 10px;
    margin: 10px 0;
}

.contacto-container {
    border: 2px solid gray ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacto-container-1 {
    width: 50%;
    text-align: center;
}

.contacto-container-2 {
    width: 50%;
    text-align: center;
}

.contacto p {
    margin: 5px;
}

/* Arroces */

.arroces {
   
    display: grid;
    grid-template: 100px repeat(2, 1fr) / repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    background-color: hsl(222, 75%, 50%, 0.05);
}

.arroces h2 {
    grid-area: 1 / 1 / span 1 / -1;
    margin-bottom: -10px;
}

.arroz-container {
    display: flex;
    grid-column-end: span 2;
    width: 100%;
    align-items: center;
    border: 2px solid gray ;
}

.arroz-description {
    width: 50%;
}

h3 {
    text-align: center;
}

.arroz-img {
    text-align: right;
    width: 50%
}

.arroz-img img {
    max-width: 100%;
    display: block;
}

@media (max-width: 1800px) {

.hero img {
    grid-area: 1 / 3 / span 4 / span 2;
}

.title {
    grid-area: 5 / 2 / span 3 / span 4;
}

.arroces {
    grid-template: 1fr repeat(2, 3fr) / repeat(4, 1fr);
}

}

@media (max-width: 1350px) {

.contacto-container-1 {
    width: 30%;
}

.contacto-container-2 {
    width: 70%;
}

.arroz-img img {
    width: 150px;
    height: auto;
}

h1 {
    font-size: 25px;
}

p{
    font-size: 12px;
}

h3 {
    font-size: 15px;
}

}

@media (max-width: 650px) {

.arroces {
    grid-template: 1fr repeat(2, 3fr) / repeat(1, 1fr);
    grid-row-gap: 10px;
}

.contacto {
    grid-template: 1fr  1fr/ 1fr;
    grid-row-gap: 10px;
}

h1 {
    font-size: 15px;
}

h2 {
    font-size: 13px;
}

}